UseColor: true

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    misc-*,
    readability-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    portability-*,

    -portability-avoid-pragma-once,
    -modernize-use-trailing-return-type
