---
Language: Cpp
BasedOnStyle: Mozilla
# --- Includes ---
SortIncludes: true
IncludeIsMainRegex: "$^"
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: "^<(gtest).*"
      Priority: 2
    - Regex: "^<.*"
      Priority: 1
    - Regex: ".*"
      Priority: 3

# --- Namespaces ---
FixNamespaceComments: true
CompactNamespaces: false
# --- Braces ---
InsertBraces: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterStruct: false
    AfterEnum: false
    AfterControlStatement: Always
    AfterFunction: true
    AfterNamespace: false
    BeforeElse: true
    BeforeCatch: true
# --- Control Statements ---
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
# --- Functions ---
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AllowShortFunctionsOnASingleLine: None
# --- Classes ---
AccessModifierOffset: -4
BreakInheritanceList: AfterComma
EmptyLineBeforeAccessModifier: Always
PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
# --- Indents ---
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
# --- Spaces & Cleanup ---
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
KeepEmptyLinesAtTheStartOfBlocks: false
# --- Alignment ---
AlignConsecutiveAssignments: false
AlignTrailingComments: true
ReflowComments: true
